/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

header {
  background-image: url("https://1.bp.blogspot.com/-FRgXQ-slyig/XvVfpjK37RI/AAAAAAAAQyY/CN5X5ssiPw4uKTZnET0mp2sP0aT4hCbawCLcBGAsYHQ/s1600/PCBanner.png");
  background-size: contain;
}

nav ul {
  list-style: none; /* removes the bullets! */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));          
  margin: 0;
  background-color: #0af749;
  text-align: center;
}
body {
  max-width: 1080px;
  background-color: #071013;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0 auto;
  color: white;
  padding: 1em;
}

p {
  font-family: 'Roboto', sans-serif;
}

footer {
  list-style: none;
  height: 55px;
  display: grid;
  grid-template-columns: repeat(2, auto); 
  align-items: left;
  grid-gap: 50px;
  background-color: #0af749;
  color: #071013;
}

.footer-p {
  grid-column: 1/2;
  grid-row: 1/3;
}

.footer-links {
  grid-column: 2/3;
  padding-top: 15px;
}
a {
  color: #0D21A1;
}

h1 {
  font-family: 'Passion One', cursive;
  text-align: center;
  margin: -110px auto 40px 100px;
  font-size: 3.5em;
  color: red;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  -webkit-text-stroke: 2px black; /* width and color */
}
h2 {
  font-family: 'Passion One', cursive;
  font-size: 40px;
  color: red;
  grid-column: 1/3;
  text-align: center;
}
/*HEADER CSS*/
.banner {
  style="background-image";
}

.logo {
  position: relative;
}


/*Home CSS*/
.content {
  margin: 0 auto;
  padding: 1em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 20px;
}

.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*END HOME CSS*/
/*Build&Customize Code
.content-b-c {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(15, auto);
  grid-gap: 1em;
  max-width: 1080px;
  margin: 0 auto;
  padding: 1em;
}

.b-c-title {
  grid-row: 1/2;
}

.b-c-p-1 {
  grid-column: 1/3;
  grid-row: 2/3;
}

.mb-title {
  grid-column: 1/2;
  grid-row: 3/4;
}

#mb {
  grid-column: 1/2;
  grid-row: 4/5;
  width: 250px;
  height: 25px;
}
.mb-desc {
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: 1em;
}

.cpu-title {
  grid-row: 5/6;
}

#cpu {
  grid-row: 6/7;
  width: 250px;
  height: 25px;
  grid-column: 1/2;
}

.cpu-desc {
  grid-column: 2/3;
  grid-row: 6/7;
}

.gpu-title {
  grid-row: 7/8;
}
#gpu {
  grid-row: 8/9;
  width: 250px;
  height: 25px;
  grid-column: 1/2;
}

.gpu-desc {
  grid-column: 2/3;
  grid-row: 8/9;
}
*/

#customize-grid {
  
}
.selections {
  width: 50px;
  float: left;
  height: 200px;
}

.options {
  width: 50%;
  float: right;
  height: 200px;
}
.inv {
  display: none;
}
/*END Build&Customize Code*/

/*Slideshow code*/
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Four columns side by side */
.column {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
