/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

body {
  background-color: black;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: white;
}

a {
  color: #0D21A1;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  color: red;
  grid-column: 1/3;
  text-align: center;
  
}

.content-b-c {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(15, auto);
  grid-gap: 1em;
  max-width: 1080px;
  margin: 0 auto;
  padding: 1em;
}

.b-c-title {
  grid-row: 1/2;
}

.b-c-p-1 {
  grid-column: 1/3;
  grid-row: 2/3;
}

.mb-title{
  grid-column: 1/2;
  grid-row: 3/4;
}

#mb {
  grid-column: 1/2;
  grid-row: 4/5;
  width: 250px;
  height: 25px;
  
}
.mb-desc {
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: .75em;
}

.cpu-title {
  grid-row: 5/6;
}

#cpu {
  grid-row: 6/7;
  width: 250px;
  height: 25px;
  grid-column: 1/2;
}

.cpu-desc{
  grid-column: 2/3;
  grid-row: 6/7;
  
}

.inv {
  display: none;
}
