/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

header {
  background-image: url("https://image.freepik.com/free-vector/realistic-blue-circuit-board-backgrond_52683-13903.jpg");
}

nav ul {
  list-style: none; /* removes the bullets! */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));          
  margin: 0;
  background-color: #071013;
}
body {
  max-width: 1080px;
  background-color: #071013;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0 auto;
  color: white;
  padding: 1em;
}

a {
  color: #0D21A1;
}

h1 {
  position: absolute;
  top: -50px;
  left: ;
  font-size:
}
h2 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  color: red;
  grid-column: 1/3;
  text-align: center;
}
/*HEADER CSS*/
.banner {
  style="background-image";
}


/*Home CSS*/
.content {
  margin: 0 auto;
  padding: 1em;
}


/*END HOME CSS*/
/*Build&Customize Code*/
.content-b-c {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(15, auto);
  grid-gap: 1em;
  max-width: 1080px;
  margin: 0 auto;
  padding: 1em;
}

.b-c-title {
  grid-row: 1/2;
}

.b-c-p-1 {
  grid-column: 1/3;
  grid-row: 2/3;
}

.mb-title {
  grid-column: 1/2;
  grid-row: 3/4;
}

#mb {
  grid-column: 1/2;
  grid-row: 4/5;
  width: 250px;
  height: 25px;
}
.mb-desc {
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: 1em;
}

.cpu-title {
  grid-row: 5/6;
}

#cpu {
  grid-row: 6/7;
  width: 250px;
  height: 25px;
  grid-column: 1/2;
}

.cpu-desc {
  grid-column: 2/3;
  grid-row: 6/7;
}

.gpu-title {
  grid-row: 7/8;
}
#gpu {
  grid-row: 8/9;
  width: 250px;
  height: 25px;
  grid-column: 1/2;
}

.gpu-desc {
  grid-column: 2/3;
  grid-row: 8/9;
}

.inv {
  display: none;
}
/*END Build&Customize Code*/
/*Slideshow code*/
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Four columns side by side */
.column {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
